name: Check

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20

      - uses: oxc-project/oxlint-action@latest
        name: Run OxLint
        with:
          config: .oxlintrc.json

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          cache: true
      - name: Install dependencies
        run: pnpm install
      - run: pnpm build
